@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    scroll-behavior: smooth;
}
main{
    margin-top: 15px;
    border-top: 0.2px solid #FFF2E7 ;
}
.cabecalho, .conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 15px;

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #ECD6C4;
}
a{
    color: #FFF2E7;
}
.cabecalho-imagem{
    height: 75px;
}
.conteudo-principal-imagem{
    height: 300px;
}
.cabecalho-menu-item{
    margin-right: 25px;
}
.conteudo-secundario {
    color: #FFF2E7;
    font-family: 'Sarala',sans-serif ;
    text-align: center;
    font-weight: 400;
    margin-top: 35px;
}
.conteudo-principal-escrito-botao{
    height: 50px;
    width: 150px;

    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #ECD6C4;
    border: none;

    font-family: Sarala;
    font-style: normal;
    text-align: center;

    color: #2F2325;

    margin-top: 20px;

    transition: 0.5s;
}
.conteudo-principal-escrito-botao:hover{
    cursor: pointer;
    font-weight: 700;
    
    height: 50px;
    width: 260px;
}
.conteudo-principal-escrito-titulo{
    font-family: Righteous;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF2E7;
}
.rodape{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    border-top: 0.2px solid #FFF2E7 ;
}
